@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  margin: 0;
  background: #d8d6d9;
  text-align: center;
}


.balloon {
  display: inline-block;
  width: 75px;
  height: 95px;
  background: hsl(215, 50%, 65%);
  border-radius: 80%;
  position: relative;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  margin: 20px 30px;
  z-index: 10;
  /* animation: balloons 4s ease-in-out infinite; */
  bottom: -900px;
  -webkit-animation: square 25s ease-in-out infinite;
  animation: square 25s ease-in-out infinite;
  -webkit-transition-timing-function: linear;
  transform-origin: bottom center;
}

@keyframes balloons {

  0%,
  100% {
    transform: translateY(0) rotate(-4deg);
  }

  50% {
    transform: translateY(-25px) rotate(4deg);
  }
}

.balloon:before {
  content: "▲";
  font-size: 20px;
  color: hsl(215, 30%, 50%);
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -12px;
  z-index: -100;
}

.balloon:after {
  display: inline-block;
  top: 102px;
  position: absolute;
  height: 150px;
  width: 1px;
  margin: 0 auto;
  content: "";
  background: rgba(0, 0, 0, 0.2);
}

.balloon:nth-child(2) {
  left: 20%;
  background: hsl(245, 40%, 65%);
  animation-duration: 16.5s;
}

.balloon:nth-child(2):before {
  color: hsl(245, 40%, 65%);
}

.balloon:nth-child(3) {
  right: 20%;
  background: hsl(139, 50%, 60%);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  animation-duration: 18s;
}

.balloon:nth-child(3):before {
  color: hsl(139, 30%, 50%);
}

.balloon:nth-child(4) {
  left: -10%;
  background: hsl(350, 86%, 49%);
  animation-duration: 17.5s;
}

.balloon:nth-child(4):before {
  color: hsl(350, 86%, 49%);
}

.balloon:nth-child(5) {
  background: hsl(23, 55%, 57%);
  animation-duration: 19s;
  left: 18%;
}

.balloon:nth-child(5):before {
  color: hsl(23, 44%, 46%);
}

.newlogin h1 {
  font-family: lato;
}

.newlogin.wrapper {
  /* background: #50a3a2; */
  /* background-image: -webkit-linear-gradient(135deg, rgb(0, 87, 239) 0%, rgb(20, 136, 243) 35%, rgb(0, 197, 241) 100%); */
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  overflow: hidden;
}


.typetext {
  font-family: 'Anonymous Pro', monospace;  
  font-size: 23px;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: 6px;
  font-weight: bold;
  position: absolute;
  display: block;
  color: #787778;
  z-index: 1000;
}

.cake {
  text-align: center;
  position: absolute;
  top: 200px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: -1000;
  opacity: 0.4;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }


}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }

}